[submodule "src/backend"]
	path = src/backend
	url = https://github.com/chatgpt-api-web/chatgpt-api-web-backend.git
[submodule "src/frontend"]
	path = src/frontend
	url = https://github.com/chatgpt-api-web/chatgpt-api-web-frontend.git
